// font-family: 'Open Sans', sans-serif;
// font-family: 'Source Sans Pro', sans-serif;

body{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
}
.header__logo {
	font-size:38px;
	font-weight: 600;
}

.title{
	font-weight:600;
	font-size: 50px;
	color:#6e6e6e;
}

.subtitle{
	color:#565656;
}

.form__title{
	font-size: 20px;
	color:#37302f;
}

.clients__review-text{
	font-family: 17px;
	font-family:'Source Sans Pro', sans-serif;
	font-weight: 400;
}

.footer__link{
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 16px;
}

.footer__copyright{
	font-size:17px;
}